#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

@keyframes pulseAnimation {
  0% { transform: scale(1); }
  50% { transform: scale(1.05); }
  100% { transform: scale(1); }

}

body, html {
  height: 100%;
  max-width: 100%;
  display: grid;
  font-family: "Staatliches", cursive;
  color: white;
  font-size: 14px;
  letter-spacing: 0.1em;
  background: #7534b5;
  background-repeat: no-repeat; /* Prevent the gradient from repeating */
  background-size: contain
}



.logo {
  height: 10%;
  padding: 1.7em;

  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.footer {
  height: 100%;
}



.signup {
  text-align: center;
  font-size: 35px;
  transition: filter 300ms;
  will-change: filter;
}

.signup a:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}
.signup a.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

/* Media query for small screens */
@media only screen and (max-width: 1000px) {
  .center_media_container {
    display: none; /* Hide the div */
  }
  .main_image {
    display: inline-block;
  }
}



/* Hide the image by default */
.main_image {
  max-width: 25%;
  height: auto;
  width: 25%;
  animation: pulseAnimation 5s infinite ease-in-out;
  margin: auto;
  display: flex;
  background: white;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  margin-bottom: 10%
}


.main_container p {
  color: white;
  font-size: 18px;
}